@import '../../GlobalStyles/variable';
@import '../../GlobalStyles/inheritance'; 

.main__Outer {
  margin-top: 30px;
  padding: 0 60px 0 60px;
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__header--search-bar {
  height: 40px;
  border-radius: 12px;
  border: 1px solid $dark-grey-color;
  outline: none;
  color: $primary-color;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  padding-left: 10px;
}

.main__header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main__header--add-btn {
  @extend .button;
}
