// font size
$font-size-smaller: 16px;
$font-size-small: 18px;
$font-size-regular: 24px;
$font-size-big: 36px;

// font weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// colors
$primary-color: #000;
$contrast-color: #fff;
$green-color: #085100;
$link-color: #083787;
$dark-grey-color: #7e7a7a;
$grey-color: rgba(126, 122, 122, 0.5);

// medai query
$toMobileScreen : 750px;
$toDesktopScreen : 1250px